body {
    /* background: #ecf0f1; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.holder {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    margin: 40px 50px 50px 50px;
    padding: 10px 20px 0px;
    width: fit-content;
    position: relative;
    cursor: pointer;
}

.form-content {
    display: flex;
}

.actHeading {
    font-size: 30px;
}

td {
    border-bottom: 1px solid #f6f6f6;
    padding: 5px 10px;
    width: fit-content;
}

td:nth-child(2) {
    text-align: right;
    width: 40px;
}

.last {
    border: none;
    padding-bottom: 20px;
    text-align: center;
}

input[type=checkbox] {
    cursor: pointer;
    height: 30px;
    margin: 4px 0 0;
    position: absolute;
    opacity: 0;
    width: 30px;
    z-index: 2;
}

input[type=checkbox]+span {
    background: #e74c3c;
    border-radius: 50%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    display: inline-block;
    height: 30px;
    margin: 4px 0 0;
    position: relative;
    width: 30px;
    transition: all .2s ease;
}

input[type=checkbox]+span::before,
input[type=checkbox]+span::after {
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    transition: all .2s ease;
}

input[type=checkbox]+span::before {
    height: 16px;
    left: 13px;
    top: 7px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type=checkbox]+span::after {
    height: 16px;
    right: 13px;
    top: 7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type=checkbox]:checked+span {
    background: #2ecc71;
}

input[type=checkbox]:checked+span::before {
    height: 9px;
    left: 9px;
    top: 13px;
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
}

input[type=checkbox]:checked+span::after {
    height: 15px;
    right: 11px;
    top: 8px;
}

input[type=submit] {
    background-color: #1aa754;
    border: 0;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    padding: 12px 20px 14px;
}

input[type=submit]:disabled {
    cursor: not-allowed !important;
    background-color: #3bd67c;
    border: 0;
    border-radius: 4px;
    color: #FFF;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    padding: 12px 20px 14px;
}

.outerDivFull {
    margin: 20px;
}

.switchToggle input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.switchToggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 70px;
    max-width: 70px;
    height: 30px;
    background: #ffcb0c;
    display: block;
    border-radius: 100px;
    position: relative;
}

.switchToggle label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.switchToggle input:checked+label,
.switchToggle input:checked+input+label {
    background: #5cd33e;
}

.switchToggle input+label:before,
.switchToggle input+input+label:before {
    content: 'No';
    position: absolute;
    top: 5px;
    left: 35px;
    width: 26px;
    height: 26px;
    border-radius: 90px;
    transition: 0.3s;
    text-indent: 0;
    color: rgb(255, 255, 255);
}

.switchToggle input:checked+label:before,
.switchToggle input:checked+input+label:before {
    content: 'Yes';
    position: absolute;
    top: 5px;
    left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 90px;
    transition: 0.3s;
    text-indent: 0;
    color: #fff;
}

.switchToggle input:checked+label:after,
.switchToggle input:checked+input+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.switchToggle label:active:after {
    width: 60px;
}

.toggle-switchArea {
    margin: 10px 0 10px 0;
}

.table-heading {
    text-align: "center";
    font-size: 30px;
}

@media only screen and (max-width:280px) {
    .holder {
        width: 50%;
    }
    input[type=submit] {
        width: 10%;
    }
    .container,
    .switchToggle {
        width: fit-content;
    }
}