.cards{
        width: 70rem;
        margin-top: 2%;
        margin-left: 8%;
        justify-content:center;
        align-items: center;
    }
.achieves{
    margin-left: 43%;
}
.goals{
    margin-left: 46%;
}
.services{
    margin-left: 46%;
}
.cardimg{
    width: 20rem
}
@media screen and (max-width: 650px) {

.cards{
    width: 100%;
    margin-left: 0%;
    justify-content:center;
    align-items: center;
}
.cardimg{
width: 18rem
}
.achieves{
    margin-left: 35%;
}
.goals{
    margin-left: 35%;
}
.services{
    margin-left: 35%;
}
}

