.aboutcards{
        width: 70rem;
        margin-top: 2%;
        margin-left: 8%;
        justify-content:center;
        align-items: center;
    }
.achieves{
    margin-left: 43%;
}
.goals{
    margin-left: 46%;
}
.services{
    margin-left: 46%;
}
.cardimg{
    width: 20rem
}
@media screen and (max-width: 650px) {

.aboutcards{
    width: 100%;
    margin-left: 0%;
    justify-content:center;
    align-items: center;
}
.cardimg{
width: 18rem
}
.achieves{
    margin-left: 35%;
}
.goals{
    margin-left: 35%;
}
.services{
    margin-left: 35%;
}
}


/* body {
    background-color: #eee;
} */

.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.btn {
    margin-top: auto;
}

.para {
    word-spacing: 3%;
    line-height: 2;
}

.crd-tit:hover::after {
    width: 100%;
}

.hov .read-more:hover {
    font-size: 14px;
}

.hov:hover {
    box-shadow: 8px 8px 8px rgb(226, 205, 82);
    transform: scale(1);
}

.hov {
    /* height: 200px;
    width: 200px; */
    border: 1px solid rgb(58, 187, 58);
    transition: .3s;
    /* margin: 3rem; */
}

.imageCar {
    height: 400px;
    width: 200px;
}